<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Download Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  <!-- Link to the CSS file -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Track Download Tool</h1>
    <h2>Another Foggy Tree Service</h2>

    <form id="download-form" method="POST" action="/start_download">
        <label for="link">Paste your link below:</label>

        <input type="text" name="link" id="link" placeholder="Paste your link here" required>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Title" required>

        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist" placeholder="Artist" required>

        <label for="album">Album:</label>
        <input type="text" id="album" name="album" placeholder="Album" required>

        <!-- Radio button options for download location -->
        <label>
            <input type="radio" name="download-location" value="default" checked>
            Download to Default Server Location
        </label>

        <label>
            <input type="radio" name="download-location" value="device">
            Download to Device
        </label>

        <button type="submit">Submit</button>

        <div class="error" id = "js-error"></div>
        <div class="success" id = "success"></div>
    </form>

    <!-- empty list of active tasks -->
    <div class="box">
        <h2>In Progress</h2>
        <div id="in-progress-list" width="100%"></div>
    <!-- Content for "In Progress" -->
    </div>
    <div class="box">
        <h2>Available for Download</h2>
        <div id="available-list"></div>
        <!-- Content for "Available for Download" -->
    </div>
    <div class="box">
        <h2>Available on Server</h2>
        <div id="on-server-list"></div>
        <!-- Content for "Available on Server" -->
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>  <!-- Link to the JavaScript file -->
</body>
</html>
